body {
    margin: 0;
}

/* Style the tab */
#tabs, #expandedMenu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: 0;
}

/* Style the buttons that are used to open the tab content */
#tabs button, #expandedMenu button {
    float: top;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 150px;
    transition: 0.3s;
}

#tabsRight {
    float: right;
}

#HomeButton {
    position: absolute;
}

/* Change background color of buttons on hover */
#tabs button:hover, #expandedMenu button:hover {
    background-color: #ddd;
}

#title h1{
    text-align: center;
}