body {
    margin: 0;
}

header h1 {
    text-align: center;
}

header .navbar {
    overflow: hidden;
    background-color: #333;
}

header .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header .dropdown {
    float: left;
    overflow: hidden;
}

header .dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

header .navbar a:hover, .dropdown:hover .dropdown-button {
    background-color: red;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

header .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

header .dropdown-content a:hover {
    background-color: #ddd;
}

header .dropdown:hover .dropdown-content {
    display: block;
}