body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #9dd8ef;
}

header {
    background-color: #5ab9ea;
    flex-shrink: 0;
}

header h1 {
    padding: .67em;
    margin: auto;
    color: black;
}

header h1 {
    text-align: center;
}

header .menu {
    overflow: hidden;
    background-color: #5680e9;
}

header .menu a, header .menu-containers .menu-button {
    font-size: 16px;
    padding: 14px 16px;
}

header .menu a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}

header .menu-containers {
    float: left;
    overflow: hidden;
    background-color: inherit;
}

header .menu-containers .menu-button {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.more-menu {
    float: right;
}

header .menu a:hover, .menu-containers:hover .menu-button {
    color: black;
    background-color: #c1c8e4;
}

header .menu-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

header .menu-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #5680e9;
}

header .menu-content a:hover {
    color: black;
    background-color: #c1c8e4;
}

header .menu-containers:hover .menu-content {
    display: block;
}

#main-content {
    background-color: #9dd8ef;
    padding: 25px;
    overflow-y: auto;
}